ProjectFilms/Connected Services/ListFilms/FilmsServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ListFilms">
        <s:complexType />
      </s:element>
      <s:element name="ListFilmsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListFilmsResult" type="tns:ArrayOfFilm" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfFilm">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Film" nillable="true" type="tns:Film" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Film">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Crew" type="tns:ArrayOfCrew" />
          <s:element minOccurs="0" maxOccurs="1" name="Reviews" type="tns:ArrayOfReview" />
          <s:element minOccurs="0" maxOccurs="1" name="Countries" type="tns:ArrayOfCountry" />
          <s:element minOccurs="0" maxOccurs="1" name="Languages" type="tns:ArrayOfLanguage" />
          <s:element minOccurs="0" maxOccurs="1" name="Studios" type="tns:ArrayOfStudio" />
          <s:element minOccurs="0" maxOccurs="1" name="Genres" type="tns:ArrayOfGenre" />
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ReleaseDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="RunTime" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ImgPoster" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ImgBack" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TagLine" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Synopsis" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Trailer" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OfficialSite" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ImdbCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCrew">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Crew" nillable="true" type="tns:Crew" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Crew">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Photo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DateBirth" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DateDeath" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="tns:Country" />
          <s:element minOccurs="0" maxOccurs="1" name="Gender" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Role" type="tns:Role" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Country">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="IsoCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Role">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfReview">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Review" nillable="true" type="tns:Review" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Review">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Film" type="tns:Film" />
          <s:element minOccurs="0" maxOccurs="1" name="User" type="tns:User" />
          <s:element minOccurs="0" maxOccurs="1" name="ReviewComment" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Rating" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TimeStamp" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="User">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsAdmin" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="State" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCountry">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Country" nillable="true" type="tns:Country" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLanguage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Language" nillable="true" type="tns:Language" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Language">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="IsoCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfStudio">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Studio" nillable="true" type="tns:Studio" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Studio">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfGenre">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Genre" nillable="true" type="tns:Genre" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Genre">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="DeleteFilm">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteFilmResponse">
        <s:complexType />
      </s:element>
      <s:element name="ListRoles">
        <s:complexType />
      </s:element>
      <s:element name="ListRolesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListRolesResult" type="tns:ArrayOfRole" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfRole">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Role" nillable="true" type="tns:Role" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListFilmCrew">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="filmId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListFilmCrewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListFilmCrewResult" type="tns:ArrayOfCrew" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListFilmsSoapIn">
    <wsdl:part name="parameters" element="tns:ListFilms" />
  </wsdl:message>
  <wsdl:message name="ListFilmsSoapOut">
    <wsdl:part name="parameters" element="tns:ListFilmsResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteFilmSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteFilm" />
  </wsdl:message>
  <wsdl:message name="DeleteFilmSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteFilmResponse" />
  </wsdl:message>
  <wsdl:message name="ListRolesSoapIn">
    <wsdl:part name="parameters" element="tns:ListRoles" />
  </wsdl:message>
  <wsdl:message name="ListRolesSoapOut">
    <wsdl:part name="parameters" element="tns:ListRolesResponse" />
  </wsdl:message>
  <wsdl:message name="ListFilmCrewSoapIn">
    <wsdl:part name="parameters" element="tns:ListFilmCrew" />
  </wsdl:message>
  <wsdl:message name="ListFilmCrewSoapOut">
    <wsdl:part name="parameters" element="tns:ListFilmCrewResponse" />
  </wsdl:message>
  <wsdl:portType name="FilmsServicesSoap">
    <wsdl:operation name="ListFilms">
      <wsdl:input message="tns:ListFilmsSoapIn" />
      <wsdl:output message="tns:ListFilmsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFilm">
      <wsdl:input message="tns:DeleteFilmSoapIn" />
      <wsdl:output message="tns:DeleteFilmSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListRoles">
      <wsdl:input message="tns:ListRolesSoapIn" />
      <wsdl:output message="tns:ListRolesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListFilmCrew">
      <wsdl:input message="tns:ListFilmCrewSoapIn" />
      <wsdl:output message="tns:ListFilmCrewSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FilmsServicesSoap" type="tns:FilmsServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListFilms">
      <soap:operation soapAction="http://tempuri.org/ListFilms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFilm">
      <soap:operation soapAction="http://tempuri.org/DeleteFilm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListRoles">
      <soap:operation soapAction="http://tempuri.org/ListRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListFilmCrew">
      <soap:operation soapAction="http://tempuri.org/ListFilmCrew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FilmsServicesSoap12" type="tns:FilmsServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListFilms">
      <soap12:operation soapAction="http://tempuri.org/ListFilms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFilm">
      <soap12:operation soapAction="http://tempuri.org/DeleteFilm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListRoles">
      <soap12:operation soapAction="http://tempuri.org/ListRoles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListFilmCrew">
      <soap12:operation soapAction="http://tempuri.org/ListFilmCrew" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FilmsServices">
    <wsdl:port name="FilmsServicesSoap" binding="tns:FilmsServicesSoap">
      <soap:address location="http://localhost:50724/WebServices/FilmsServices.asmx" />
    </wsdl:port>
    <wsdl:port name="FilmsServicesSoap12" binding="tns:FilmsServicesSoap12">
      <soap12:address location="http://localhost:50724/WebServices/FilmsServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>